<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
{$name}</br>
{$sex}</br>
{$age}</br>
{$salary}</br>
<hr>
'out put array(输出数组)'
{$goods.id}</br>
{$goods.name}</br>
{$goods.model}</br>
{$goods.price}</br>

<hr>
"输出对象"<br>
{$info->course}</br>
{$info->letuce}</br>

<hr>
'out put System constant(输出系统常量)'</br>
{$Think.const.PHP_VERSION}</br>
{$Think.const.PHP_OS}</br>
{//out put System var(输出系统变量)}
{$Think.server.php_self}</br>
{$Think.server.php.session.id}</br>
{$Think.sever.php.get.name}</br>
{$Think.server.post.name}</br>

<hr>
{'out put System Config(输出系统配置)'}
{$Think.config.database.hostname}</br>


{$Request.get.name}</br>

{$Request.param.name}</br>

{$Request.path}</br>


{$Request.root.true}</br>

<hr>
{'out put user request(输出用户)'}
{$Request.controller}</br>

{$Request.action}</br>